* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ############ */
/* Assignment 1 */
/* ############ */
.assignment-1 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assignment-1 div {
  width: 50px;
  height: 50px;
  border: 5px solid #e40d57;
  border-right: 5px solid transparent;

  border-radius: 50%;
  position: relative;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.assignment-1 div:hover {
  animation-play-state: paused;
}
.assignment-1 div::after,
.assignment-1 div::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.assignment-1 div::after {
  width: 55px;
  height: 55px;
  border: 5px solid #2190ff;
  border-left: 5px solid transparent;
}
.assignment-1 div::before {
  width: 70px;
  height: 70px;
  border: 5px solid #fca400;
  border-top: 5px solid transparent;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ############ */
/* Assignment 2 */
/* ############ */
.assignment-2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.assignment-2 .one {
  width: 50px;
  height: 50px;
  border: 5px solid #2190ff;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite paused;
}

.assignment-2 .two,
.assignment-2 .three {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin-2 1s linear infinite paused;
}
.assignment-2 .two {
  width: 65px;
  height: 65px;
  border: 5px solid #fca400;
  border-bottom: 5px solid transparent;
  animation-delay: 0.1s;
}
.assignment-2 .three {
  width: 80px;
  height: 80px;
  border: 5px solid #000;
  border-bottom: 5px solid transparent;
  animation-delay: 0.2s;
}
.assignment-2 .container:hover .one,
.assignment-2 .container:hover .two,
.assignment-2 .container:hover .three {
  animation-play-state: running;
}

@keyframes spin-2 {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* ############ */
/* Assignment 3 */
/* ############ */
.assignment-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.assignment-3 span {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #eee;
  border: 5px solid #000;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* ############ */
/* Assignment 4 */
/* ############ */
.assignment-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* ####### E #######*/
.assignment-4 .L-character,
.assignment-4 .E-character {
  width: 100px;
  height: 180px;
  display: grid;
  grid-template-columns: 20px 80px;
  grid-template-rows: repeat(9, 20px);
  position: relative;
}
.assignment-4 .L-character div,
.assignment-4 .E-character div {
  background-color: #363234;
}
.assignment-4 .E-character div.one {
  grid-row: 1 / 10;
}
.assignment-4 .E-character div.two {
  grid-column: 2 / 3;
}
.assignment-4 .E-character div.three {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}
.assignment-4 .E-character div.four {
  grid-column: 2 / 3;
  grid-row: 9 / 10;
}
/* #### */
.assignment-4 .L-character div.one {
  grid-row: 1 / 10;
}
.assignment-4 .L-character div.two {
  grid-column: 2 / 3;
  grid-row: 9 / 10;
}
/* #### */
.assignment-4 .L-character::before,
.assignment-4 .E-character::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fca400;
  position: absolute;
}
.assignment-4 .L-character::before {
  bottom: 5px;
  right: 5px;
  animation: L-box-move 3s linear 1 forwards;
}

@keyframes L-box-move {
  0% {
    bottom: 5px;
    right: 5px;
  }
  40% {
    bottom: 5px;
    right: 85px;
  }
  80% {
    opacity: 1;
    bottom: 165px;
    right: 85px;
  }
  100% {
    opacity: 0;
    bottom: 165px;
    right: 85px;
  }
}

.assignment-4 .E-character::before {
  top: 5px;
  right: 5px;
  animation: E-box-move 3s linear 1 3s forwards;
}

@keyframes E-box-move {
  0% {
    top: 5px;
    right: 5px;
  }
  10% {
    top: 5px;
    right: 85px;
  }
  20% {
    top: 85px;
    right: 85px;
  }
  30% {
    top: 85px;
    right: 5px;
  }
  40% {
    top: 85px;
    right: 85px;
  }
  50% {
    top: 165px;
    right: 85px;
  }
  60% {
    top: 165px;
    right: 5px;
  }
  70% {
    top: 165px;
    right: 85px;
  }
  85% {
    top: 5px;
    right: 85px;
  }
  100% {
    top: 5px;
    right: 5px;
  }
}
