body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Assignment 1 */
.assignment-one .parent {
    width: 800px;
    /* width: 1000px; */
    background-color: #eee;
    margin: 15px auto;
    text-align: center;
}

.assignment-one .parent .row-1,
.assignment-one .parent .row-2,
.assignment-one .parent .row-3,
.assignment-one .parent .row-4 {
    overflow: hidden;
}

.assignment-one .parent .row-1 div,
.assignment-one .parent .row-2 div,
.assignment-one .parent .row-3 div,
.assignment-one .parent .row-4 div {
    background-color: #ddd;
    float: left;
    padding: 10px;
}

.assignment-one .parent .row-1 div {
    padding: 10px;
    float: none;
    margin: 15px 15px 0 15px;
}

.assignment-one .parent .row-2 div {
    width: calc((100% - ((10px * 6) + (15px * 4))) / 3);
    margin: 15px 0 0 15px;
}

.assignment-one .parent .row-3 div {
    width: calc((100% - ((15px * 3) + (10px * 4))) / 2);
    margin: 15px 0 0 15px;
}

.assignment-one .parent .row-4 div {
    width: calc((100% - ((15px * 5) + (10px * 8))) / 4);
    margin: 15px 0 15px 15px;
}

/* Assignment 2 */
.assignment-two div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: #b3b3b3; /* Get The Background From Image */
    color: black;
}

.assignment-two div.one {
    background-color: rgb(179, 179, 179, 0.1);
}

.assignment-two div.two {
    opacity: 0.1;
}
